---
layout: base
---

<div class="row">
  <div class="col">

    {{ content }}
    <table>
      <thead>
        <tr>
          <th>ESAS code</th>
          <th>Scientific name</th>
          <th>English name</th>
          <th>WoRMS (ERID/Aphia ID)</th>
          <th>EURING</th>
        </tr>
      </thead>
      <tbody>
        <col width="10%">
        <col width="25%">
        <col width="25%">
        <col width="20%">
        <col width="20%">
        {% for species in site.data.vocabularies.species %}
          <tr>
            <td>
              <a href="#{{ species.esas_code }}"><code>{{ species.esas_code }}</code></a>
              <div class="small text-muted">{{ species.remarks }}</div>
            </td>
            <td>
              <em>{{ species.scientific_name }}</em>
            </td>
            <td>
              {{ species.english_name }}
            </td>
            <td>
              {% if species.aphia_id %}
              <code>{{ species.aphia_id }}</code>
              <br><em><a href="https://www.marinespecies.org/aphia.php?p=taxdetails&id={{ species.aphia_id }}">{{ species.aphia_scientific_name }}</a></em>
              {% endif %}
            </td>
            <td>
              {% if species.euring_code %}
              <code>{{ species.euring_code }}</code>
              <br><em>{{ species.euring_scientific_name }}</em>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
