---
layout: base
---

<div class="row">
  <div class="col">

    {{ content }}
    <table>
      <thead>
        <tr>
          <th>Scientific name</th>
          <th>EURING</th>
          <th>ERID (WoRMS)</th>
          <th>NT</th>
        </tr>
      </thead>
      <tbody>
        <col width="40%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
        {% for species in site.data.vocabularies.species %}
          <tr>
            <td>
              <a href="#{{ species.english_name | url_encode }}">{{ species.english_name }}</a>
              <br><em>{{ species.scientific_name }}</em>
              <div class="small text-muted">{{ species.remarks }}</div>
            </td>
            <td>
              {% if species.euring_code %}
              <code>{{ species.euring_code }}</code>
              <br><em>{{ species.euring_scientific_name }}</em>
              {% endif %}
            </td>
            <td>
              {% if species.aphia_id %}
              <code>{{ species.aphia_id }}</code>
              <br><em><a href="https://www.marinespecies.org/aphia.php?p=taxdetails&id={{ species.aphia_id }}">{{ species.aphia_scientific_name }}</a></em>
              {% endif %}
            </td>
            <td>
              {% if species.nt_code %}
              <code>{{ species.nt_code }}</code> {{ species.nt_description }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
